<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/header/header.css" />
    {% block style %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="title">
        <h1>台北一日遊</h1>
        <div class="nav">
          <div class="nav-item">
            <a href="">預定行程</a>
          </div>
          <div class="nav-item">
            <p></p>
          </div>
        </div>
      </div>
    </header>
    <section class="signin-area none">
      <form class="sigin-form">
        <div class="form-top">
          <p>登入會員帳號</p>
          <img src="/pic/close.png" alt="close-icon" class="close-btn" />
        </div>
        <input
          type="email"
          name="email"
          id="signin-email"
          placeholder="輸入電子信箱"
          required
        />
        <input
          type="password"
          name="password"
          id="signin-password"
          placeholder="輸入密碼"
          required
        />
        <button>登入帳戶</button>
        <p class="signin-msg"></p>
        <p>還沒有帳戶？點此<span id="toSignup">註冊</span></p>
      </form>
      <form class="signup-form disabled-form">
        <div class="form-top">
          <p>註冊會員帳號</p>
          <img src="/pic/close.png" alt="close-icon" class="close-btn" />
        </div>

        <input
          type="text"
          name="name"
          id="signup-name"
          placeholder="輸入姓名"
          required
        />
        <input
          type="email"
          name="email"
          id="signup-email"
          placeholder="輸入電子郵件"
          required
        />
        <input
          type="password"
          name="password"
          id="signup-password"
          placeholder="輸入密碼"
          required
        />
        <button>註冊新帳戶</button>
        <p class="signup-msg"></p>
        <p>已經有帳戶了？點此<span id="toSignin">登入</span></p>
      </form>
    </section>
    {% block main %} {% endblock %}
  </body>
</html>
