* {
  font-family: " Noto Sans TC";
  font-style: normal;
  box-sizing: border-box;
}

.fw700 {
  font-weight: 700;
}

.fw500 {
  font-weight: 500;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  top: 0;
  width: 100vw;
  border-bottom: 1px solid #e8e8e8;
  z-index: 5;
}
@media (min-width: 1200px) {
  header {
    padding: 10px 0px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  header {
    padding: 10px 10px;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  header {
    padding: 10px 10px 10px 10px;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
}
.title a {
  text-decoration: none;
}
.title h1 {
  color: #489;
  font-family: Noto Sans TC;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}
.title h1:hover {
  opacity: 0.8;
}
.title .nav {
  display: flex;
}
.title .nav .nav-item {
  color: var(--secondary-color-gray-70, #666);
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 13.3px; /* 83.125% */
  padding: 10px;
}
.title .nav .nav-item a {
  color: var(--secondary-color-gray-70, #666);
  text-decoration: none;
}
.title .nav .nav-item p {
  cursor: pointer;
}
@media (min-width: 1200px) {
  .title {
    max-width: 1200px;
    width: 100%;
  }
}
.main-area {
  width: 100%;
  margin-top: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.attraction-order-wrapper {
  padding: 40px 0px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (min-width: 1200px) {
  .attraction-order-wrapper {
    width: 1200px;
    grid-template-columns: 45% 50%;
    margin: auto 0 auto 15px;
  }
}
@media (max-width: 1199px) and (min-width: 600px) {
  .attraction-order-wrapper {
    width: 100%;
    grid-template-columns: 45% 50%;
  }
}
@media (max-width: 599px) {
  .attraction-order-wrapper {
    gap: 10px;
    padding: 0 0 40px 0;
  }
  .attraction-order-wrapper .order-ctn {
    padding: 0 10px;
  }
}

.pic-ctn {
  position: relative;
  width: 100%;
  height: calc(100% + 6px);
}

.attractionImg {
  width: 100%;
  height: 100%;
  position: relative;
}
.attractionImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  vertical-align: middle;
}

.arrow {
  position: absolute;
  inset: 0 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: 36px 36px;
}
.arrow div {
  width: 36px;
  height: 36px;
  background-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

#arrow-left {
  background-image: url("/pic/gray-left.png");
}
#arrow-left:hover {
  background-image: url("/pic/black-left.png");
}

#arrow-right {
  background-image: url("/pic/gray-right.png");
}
#arrow-right:hover {
  background-image: url("/pic/black-right.png");
}

.point-ctn {
  position: absolute;
  inset: auto 0 13px 0;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.point-item {
  width: 12px;
  height: 12px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  opacity: 0.8;
}

.point-item-selected {
  background-color: black;
}

.order-ctn {
  color: #666;
  padding-bottom: 8px;
}
.order-ctn h2 {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  color: #666;
  padding-bottom: 15px;
}
.order-ctn .cat {
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 20px;
}

#order-form {
  padding: 15px 20px 41px 20px;
  background-color: #e8e8e8;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#order-form #formText {
  font-weight: 500;
}
@media (max-width: 599px) {
  #order-form #formText {
    font-weight: 400;
    line-height: normal;
  }
}
#order-form input[type=radio] {
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  border: none;
  -webkit-appearance: none;
}
#order-form input[type=radio]:checked {
  -webkit-appearance: none;
  background-color: #448899;
  border: 2px solid white;
  border-radius: 50%;
}
#order-form input[type=date]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  display: block;
  background: url("/pic/calendar.png") no-repeat;
  width: 20px;
  height: 20px;
}
#order-form input[type=date] {
  border: none;
  padding: 5px;
}
#order-form button {
  font-size: 19px;
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #489;
  border-radius: 5px;
  color: white;
  width: 160px;
  border: none;
  cursor: pointer;
}
#order-form button:hover {
  opacity: 0.9;
}

.selectTime {
  display: flex;
  align-items: center;
}

@media (min-width: 1200px) {
  .attractionIntro-area {
    width: 1200px;
  }
}

.attractionIntro-area {
  border-top: 1px solid #e8e8e8;
  padding: 50px 10px 120px 10px;
  color: #666;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  margin: auto auto auto 10px;
}
@media (min-width: 1200px) {
  .attractionIntro-area {
    margin: auto 0 auto 15px;
  }
}
@media (max-width: 600px) {
  .attractionIntro-area {
    padding: 50px 10px 134px 20px;
  }
}

.introText {
  line-height: normal;
}

.traffic p:first-child {
  line-height: 32px;
}

.address p:first-child {
  line-height: 32px;
}

footer {
  background-color: #757575;
  display: flex;
  padding: 40px 0;
}
footer p {
  margin: auto;
  font-family: "Noto Sans TC";
  padding: 5px 0;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}/*# sourceMappingURL=attraction.css.map */